### Функции и Pandas

#### Задание 1
Датасет "MovieLens 20M Dataset" с рейтингами по фильмам https://grouplens.org/datasets/movielens/.
Напишите функцию, которая классифицирует фильмы. Результат классификации запишите в столбец class. Классификация по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv("C:\\python\\portfolio\\data_analysis_python\\0_syntax\\data\\ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def class_rating(rating):
    
    '''
    Функция проставляет значение class_rating в зависимости от значения rating.
    '''
    
    if 0 <= rating <= 2:
        class_rating = 'low rating'
    elif rating <= 4:
        class_rating = 'middle rating'
    elif rating == 4.5 or rating == 5.0:
        class_rating = 'high rating'
    else:
        class_rating = 'error'
    return class_rating

In [4]:
ratings['class'] = ratings['rating'].apply(class_rating)
ratings.head()

   userId  movieId  rating   timestamp          class
0       1       31     2.5  1260759144  middle rating
1       1     1029     3.0  1260759179  middle rating
2       1     1061     3.0  1260759182  middle rating
3       1     1129     2.0  1260759185     low rating
4       1     1172     4.0  1260759205  middle rating

#### Задание 2
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [5]:
keywords = pd.read_csv("C:\\python\\portfolio\\data_analysis_python\\1_functions\\data\\keywords.csv")
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [6]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [7]:
def geo_classify(keyword):
    
    '''
    Функция проставляет значение region в зависимости от значения keyword.
    Ищет keyword среди значений словаря geo_data и
    возвращает соответствующий ключ словаря как region. 
    Не учитывает формы склонения.
    '''
    
    cities_set = set(sum(geo_data.values(),[]))
    if not cities_set & set(keyword.lower().split()): # если нет пересечений между keyword и городами из словаря
        region = 'undefined'
    elif len(cities_set & set(keyword.split())) >= 2: # если в keyword два или более городов из словаря
        region = 'undefined_2'
    else:
        for reg, cit in geo_data.items():
            if list(cities_set & set(keyword.split()))[0] in cit:
                region = reg
    return region

In [8]:
keywords['region'] = keywords['keyword'].apply(geo_classify)
keywords[ keywords['keyword'].str.contains('псков|тула', case=False) ].head(5) # Проверка

            keyword   shows        region
1579     авито тула  126168         Центр
2153    авито псков   98931  Северо-Запад
5642   погода псков   47395  Северо-Запад
11222         псков   24885  Северо-Запад
11785          тула   23898         Центр

#### Задание 3
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов (из базы https://grouplens.org/datasets/movielens). Т.е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже. Для определения года выпуска фильма: запишите список из всех годов с 1950 по 2010; 
если в названии фильма присутствует номер года из списка, то функция возвращает этот год как год выпуска;
если ни один из номеров года списка не встретился в названии фильма, то возвращается 1900 год.

In [9]:
ratings = pd.read_csv("C:\\python\\portfolio\\data_analysis_python\\0_syntax\\data\\ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [10]:
movies = pd.read_csv("C:\\python\\portfolio\\data_analysis_python\\0_syntax\\data\\movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Формируем список из номеров года:

In [11]:
years = [n for n in range(1950,2011,1)]

In [12]:
def production_year(title):
    
    '''
    Функция ищет номер года в скобках из списка years в названии фильма title.
    Если находит, то возвращает соответствующий номер года.
    Если не находит, то возвращает 1900.
    '''
    
    prod_year = 0
    for year in years:
        if '('+str(year)+')' in title: # по превью movies в названии фильма год должен быть в скобках
            prod_year = year
    if prod_year == 0:
        prod_year = 1900
    return prod_year

In [13]:
movies['prod_year'] = movies['title'].apply(production_year)
movies.head()

,movieId,title,genres,prod_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

Объединяем таблицу рейтингов с годом выпуска из таблицы с информациией о фильмах:

In [14]:
ratings_movie_year = ratings.merge(movies[['movieId','prod_year']], on='movieId', how='left')
ratings_movie_year.head()

   userId  movieId  rating   timestamp  prod_year
0       1       31     2.5  1260759144       1995
1       1     1029     3.0  1260759179       1900
2       1     1061     3.0  1260759182       1996
3       1     1129     2.0  1260759185       1981
4       1     1172     4.0  1260759205       1989

Группируем полученный датафрейм, для каждого года считаем средний рейтинг и сортируем по убыванию рейтинга:

In [15]:
year_vs_rating = ratings_movie_year[['prod_year','rating']].groupby('prod_year').mean().sort_values('rating', ascending=False)

Посмотрим какие годы попали в топ-10 по среднему рейтингу и средний год этого топа:

In [16]:
print(year_vs_rating.rename(columns={'rating':'avg_rating'}).round(2).head(10).index.values.mean())
year_vs_rating.rename(columns={'rating':'avg_rating'}).round(2).head(10)

1961.3

           avg_rating
prod_year
1957             4.01
1972             4.01
1952             4.00
1954             3.99
1951             3.98
1974             3.98
1962             3.95
1950             3.92
1977             3.91
1964             3.84

Посмотрим какие годы попали в хвосте по среднему рейтингу и средний год этого хвоста:

In [17]:
print(year_vs_rating.rename(columns={'rating':'avg_rating'}).round(2).tail(10).index.values.mean())
year_vs_rating.rename(columns={'rating':'avg_rating'}).round(2).tail(10)

1998.5

           avg_rating
prod_year
1999             3.47
1992             3.47
2001             3.46
2002             3.46
1990             3.45
2005             3.45
2003             3.44
1996             3.43
1997             3.42
2000             3.36

И на глаз по перечню годов в топе и хвосте, и по среднему году из топа и хвоста, получается, что в более поздние годы средний рейтинг ниже.